:root { 
    --textColor: #000;
    --yellow:  #EBD96B;
}

body {
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
  }

  .container {
    padding: 0 16px;
    max-width: 1256px;
    margin: 0  auto;
    height: 100%; 
  }
  
  .button {
	text-align: center;
	padding: 10px 24px;
	border-radius: 48px;
	background-color: #f4c038;
	border: none;

	font-size: 16px;
	color: black;
	line-height: 20px;
	&--list {
		display: flex;
		align-items: center;
		gap: 8px;

		width: 96px;
		height: 40px;

		padding: 0 12px;

		background-color: transparent;

		border-radius: 20px;
		border: 1px solid #3d4554;

		color: white;
		font-size: 14px;
		font-weight: 400;
	}
}


.title { 
	font-weight: 500;
}

h1.title {
	font-style: normal;
	font-weight: 700;
	line-height: 52px;

	&--biggest {
		font-size: 56px;
		line-height: 56px;
	}
}

h2.title {
	font-size: 32px;
	line-height: 40px;
}

h3.title {
	font-size: 24px;
	line-height: 32px; 
}

h4.title {
	font-size: 18px;
	line-height: 24px;
}

.big {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.medium {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
}

.small {
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
