.header {
	height: 72px;
	border-bottom: 1px solid #272e3b;
    background: var(--backgroundColor);

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between; /* Add this line */
		height: 100%;

		.nav {
			align-items: center;
			display: flex;
			width: 469px;
			justify-content: space-between;
			.logo { 
				display: flex;
				justify-content: space-between;
				width: 173px;
			}

			&__list {
				display: flex;
				width: 156px;
				justify-content: space-between;
			}
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		
		column-gap: 24px;
	}
}
