.reg { 
    background-color: #20222A;
    height: 100vh;

    .container {
        max-width: 1016px
    }

    &__promo {
        display: flex;
        margin: 140px 212px 166px;
        justify-content: space-between;
    }
    .form {
        row-gap: 32px;

        &,  &__inputs {
            display: flex;
            flex-direction: column;
        }
        
        &__inputs {
            row-gap: 24px;
        }

        &__input {
            width: 496px; 
            height: 48px;
            padding: 16px 0 16px 24px; 
    
            border-radius: 24px;
            border: 1px  solid #3D4554;
        }
    }
    .promo__img { 
        margin-top: 36px;
    }
}